.product {
  background: url(https://firebasestorage.googleapis.com/v0/b/cheetoblog-8edf4.appspot.com/o/%E9%9B%BB%E5%95%86%E7%B6%B2%E7%AB%99%2Fproduct-hero-mobile.jpg?alt=media&token=a735c6b2-c3be-47ae-9f6d-d8bf67158d40)no-repeat;
  padding-bottom: 60px;
  &-main {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    &-img {
      width: 100%;
      padding: 0 50px 15px;
      box-sizing: border-box;
      img {
        width: 100%;
      }
    }
    &-txt {
      position: relative;
      padding: 0px 15px;
      h4 {
        font-size: 18px;
        margin-bottom: 10px;
      }
      h2 {
        font-size: 20px;
        margin-bottom: 20px;
      }
      p {
        margin-bottom: 20px;
      }
    }
    &-favorite {
      position: absolute;
      top: 15px;
      right: 15px;
      font-size: 24px;
      color: $primary;
      cursor: pointer;
    }
    &-box {
      display: flex;
      justify-content: space-between;
      padding: 10px 5px;
      border-top: 1px solid lighten($secondary, 30);
      border-bottom: 1px solid lighten($secondary, 30);
      margin-bottom: 20px;
    }
    &-price {
      .sale-price {
        display: inline-block;
        color: $deep-primary;
        font-size: 30px;
        margin-right: 8px;
      }
      .price {
        color: lighten($secondary, 30);
        text-decoration: line-through;
      }
    }
    &-quantity {
      display: flex;
      button,
      input {
        font-weight: 300;
      }
      button {
        border: 1px solid lighten($secondary, 30);
        width: 40px;
        height: 40px;
        color: #7b7b7b;
        &:first-of-type {
          border-radius: 5px 0 0 5px;
        }
        &:last-of-type {
          border-radius: 0 5px 5px 0;
        }
      }
      input {
        width: 40px;
        border: 0;
        border-top: 1px solid lighten($secondary, 30);
        border-bottom: 1px solid lighten($secondary, 30);
        background-color: #fff;
        color: $secondary;
        text-align: center;
        font-size: 16px;
      }
    }
    &-btn {
      button {
        padding: 8px 0;
      }
    }
    &-cart {
      width: 49%;
      margin-right: 2%;
      background-color: #ccc;
      color: $secondary;
      &:hover {
        background-color: darken(#ccc, 10);
      }
    }
    &-buy {
      width: 49%;
    }
  }
  &-info {
    padding: 0 15px;
    &-item {
      margin-bottom: 40px;
      h3 {
        font-size: 20px;
        margin-bottom: 20px;
      }
      p {
        line-height: 2;
        color: $secondary;
        font-weight: 300;
      }
    }
    &-txt {
      &-item {
        display: flex;
        width: 100%;
        margin-bottom: 20px;
        font-size: 14px;
        font-weight: 300;
        span {
          width: 20%;
          color: #000;
          i {
            color: lighten($secondary, 10);
            padding-right: 5px;
          }
        }
        h4 {
          width: 80%;
          color: lighten($secondary, 20);
          padding: 0 0 15px;
          border-bottom: 1px solid #ccc;
        }
      }
    }
  }
  &-swiper {
    display: none;
  }
}
@media (min-width: 769px) {
  .product {
    background: url(https://firebasestorage.googleapis.com/v0/b/cheetoblog-8edf4.appspot.com/o/%E9%9B%BB%E5%95%86%E7%B6%B2%E7%AB%99%2Fproduct-hero.jpg?alt=media&token=52ca07c7-b2f6-44fe-ba49-cd982a588a15)no-repeat;
    &-main {
      flex-direction: row;
      align-items: center;
      &-img {
        width: 50%;
        padding: 0 50px;
      }
      &-txt {
        width: 40%;
        background-color: #fff;
        border-radius: 8px;
        padding: 30px 25px;
        box-shadow: 0px 7px 8px rgba(131, 131, 131, 0.5);
      }
    }
    &-info {
      margin-bottom: 80px;
      &-item {
        display: flex;
        h3 {
          width: 30%;
        }
        p {
          width: 70%;
        }
      }
      &-txt {
        display: flex;
        flex-wrap: wrap;
        width: 70%;
        &-item {
          width: 47%;
          margin-right: 3%;
          h4 {
            padding-bottom: 20px;
          }
        }
      }
    }
    &-swiper {
      display: block;
      &-title {
        font-size: 26px;
        padding-bottom: 20px;
      }
      .card-price {
        width: 100%;
      }
    }
  }
}