.back-products {
  &-add {
    text-align: right;
    padding: 30px 0;
    button {
      border: 0;
      border-radius: 5px;
      background-color: $deep-primary;
      color: #fff;
      font-size: 16px;
      padding: 10px 20px;
      transition: all 0.3s;
      &:hover {
        background-color: darken($deep-primary, 6);
      }
    }
  }
  &-btn {
    display: flex;
    justify-content: center;
    button {
      padding: 5px 10px;
      transition: all 0.3s;
    }
  }
  &-title {
    color: $secondary;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    padding: 40px 0;
    border-bottom: 1px solid lighten($secondary, 20);
  }
  &-edit {
    border: 1px solid #3b3bff;
    border-right: 0;
    border-radius: 4px 0 0 4px;
    color: #3b3bff;
    &:hover {
      background-color: #3b3bff;
      color: #fff;
    }
  }
  &-del {
    border: 1px solid #ff1b1b;
    border-radius: 0 4px 4px 0;
    color: #ff1b1b;
    &:hover {
      background-color: #ff1b1b;
      color: #fff;
    }
  }
  table {
    width: 100%;
    tr {
      text-align: center;
    }
    th {
      padding: 20px 0;
      border-top: 1px solid lighten($secondary, 20);
      border-bottom: 1px solid lighten($secondary, 20);
    }
    td {
      padding: 15px 0;
    }
  }
}