.wrap {
  background: url(https://firebasestorage.googleapis.com/v0/b/cheetoblog-8edf4.appspot.com/o/%E9%9B%BB%E5%95%86%E7%B6%B2%E7%AB%99%2Flogin.jpeg?alt=media&token=152e6b5b-61e1-419f-8c86-b132c2aa17e9) center center / cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.login {
  width: 100%;
  background-color: rgba(72, 72, 72, 0.3);
  border: 5px solid #ccc;
  border-radius: 10px;
  backdrop-filter: blur(5px);
  box-sizing: border-box;
  padding: 20px 0;
  text-align: center;
  color: #fff;
  h2 {
    border-bottom: 3px solid $primary;
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 5px;
  }
  &-user {
    padding: 0 20px;
    text-align: left;
  }
  &-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    label {
      margin-bottom: 15px;
    }
    input {
      color: #fff;
      font-size: 16px;
      margin-bottom: 25px;
      padding: 5px 10px 8px;
      background-color: transparent;
      border: 0;
      border-bottom: 2px solid $primary;
    }
  }
  &-btn {
    button {
      background-color: transparent;
      width: 100%;
      color: #fff;
      padding: 8px 0;
      border: 2px solid $deep-primary;
      background-color: $deep-primary;
      border-radius: 50px;
      transition: all 0.2s;
    }
  }
}
@media (min-width: 769px) {
  .login {
    max-width: 600px;
    padding: 45px 35px;
    text-align: left;
    h2 {
      font-size: 30px;
      padding-bottom: 8px;
      margin-bottom: 60px;
    }
    &-user {
      padding: 0;
    }
    &-item {
      input::placeholder {
        color: #ccc;
      }
    }
    &-btn {
      margin-top: 10px;
      text-align: right;
      button {
        width: 40%;
        background-color: transparent;
        transition: all 0.3s;
        &:hover {
          background-color: $deep-primary;
        }
      }
    }
  }
}