.header {
  position: sticky;
  top: 0;
  z-index: 99;
  background: url(https://firebasestorage.googleapis.com/v0/b/cheetoblog-8edf4.appspot.com/o/%E9%9B%BB%E5%95%86%E7%B6%B2%E7%AB%99%2FheaderBg.jpg?alt=media&token=cba435a0-3476-46e7-9ab1-31f07fb574c1);
  &-mobile {
    display: flex;
    justify-content: space-between;
    h2 {
      font-family: "Dancing Script", cursive;
      font-size: 28px;
      font-weight: 700;
      padding: 22px 0 0 10px;
      letter-spacing: 1.5px;
    }
    h2,
    &-cart,
    &-hamburger {
      color: #caad80;
      transition: all 0.3s;
    }
    &-btn {
      display: flex;
    }
    &-cart {
      display: block;
      padding: 27px 20px 0;
      font-size: 20px;
      &:hover {
        color: #fff;
      }
    }
    &-hamburger {
      background-color: transparent;
      border: 0;
      border-left: 1px solid rgba(198, 167, 119, 0.3);
      font-size: 24px;
      padding: 20px 30px;
      &:hover {
        color: #fff;
      }
      &:focus {
        outline: none;
      }
    }
  }
  &-navbar {
    border-bottom: 3px double rgba(198, 167, 119, 0.3);
    &-list {
      li:hover {
        background-color: rgba(0, 0, 0, 0.3);
      }
      li:hover .header-navbar-link {
        color: #fff;
      }
      li,
      .header-navbar-link {
        transition: all 0.3s;
      }
    }
    &-link {
      text-align: left;
      border-bottom: 1px dashed rgba(198, 167, 119, 0.6);
      color: #4b4b4b;
      display: block;
      padding: 15px 0;
      font-weight: 300;
      margin-bottom: -3px;
    }
  }
  &-main {
    display: none;
  }
}
@media (max-width: 768px) {
  .header {
    &-navbar {
      &-list {
        position: absolute;
        top: 79px;
        z-index: 99;
        width: 100%;
        height: 0;
        overflow: hidden;
        transition: all 1s;
        background-color: #f0efed;
        &.active {
          height: 267px;
          border-bottom: 3px solid #caad80;
        }
      }
      &-link {
        padding-left: 15px;
        &.active {
          background-color: #caad80;
          color: #fff;
        }
      }
    }
  }
}
@media (min-width: 769px) {
  .header {
    &-mobile {
      &-cart,
      &-hamburger {
        display: none;
      }
    }
    &-navbar {
      display: block;
      h2 {
        display: none;
      }
      &-mobile {
        display: none;
      }
      &-list {
        display: flex;
        border: 0;
        li {
          width: 20%;
        }
        li:first-of-type {
          border-left: 1px dashed rgba(198, 167, 119, 0.3);
          border-right: 1px dashed rgba(198, 167, 119, 0.3);
        }
        li + li {
          border-right: 1px dashed rgba(198, 167, 119, 0.3);
        }
      }
      &-link {
        border-bottom: 0;
        text-align: center;
        color: #caad80;
        transition: all 0.3s;
        &.active {
          border-bottom: 3px solid #caad80;
        }
      }
      &-list.scroll &-link {
        padding: 10px 0;
      }
    }
    &-main {
      display: block;
      .container {
        display: flex;
        justify-content: space-between;
        padding: 0 15px;
      }
      &-social,
      &-logo,
      &-btn {
        width: 33.33333%;
      }
      &-social,
      &-btn {
        display: flex;
        align-items: center;
      }
      &-social {
        li + li {
          margin-left: 10px;
        }
        a {
          color: #fff;
          transition: color 0.3s;
          &:hover {
            color: #caad80;
          }
        }
      }
      &-logo {
        h1 {
          font-family: "Dancing Script", cursive;
          font-size: 40px;
          font-weight: 700;
          color: #caad80;
          padding: 15px 0;
          text-align: center;
          transition: all 0.3s;
        }
      }
      &-btn {
        justify-content: flex-end;
        a {
          color: #caad80;
          font-weight: 300;
          font-size: 12px;
          transition: color 0.3s;
          &:hover {
            color: #fff;
          }
        }
      }
      &-login {
        margin-right: 20px;
      }
      &-favorite {
        margin-right: 15px;
      }
      &.scroll {
        h1 {
          padding: 5px 0;
        }
      }
    }
  }
}