.pagination {
  display: flex;
  justify-content: flex-end;
  padding: 30px 0;
  li {
    margin: 0 3px;
  }
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: lighten($secondary, 20);
    border: 1px solid #ccc;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    &:hover {
      background-color: darken(#fff, 13);
      color: darken($primary, 10);
    }
    &.disabled {
      color: lighten($primary, 15);
      pointer-events: none;
    }
    &.active {
      pointer-events: none;
      background-color: $primary;
      color: #fff;
    }
  }
}